<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthMate">
        <activity
            android:name=".ChatbotActivity"
            android:exported="true"
            android:label="@string/title_activity_chatbot"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminDashBoardActivity"
            android:exported="true"
            android:label="@string/title_activity_admin_dash_board"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserDashBoardActivity"
            android:exported="true"
            android:label="@string/title_activity_user_dash_board"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:label="@string/title_activity_welcome"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.HealthMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            <!-- AUTH -->
            <activity android:name=".LoginActivity" />
            <activity android:name=".SignUpActivity" />
            <activity android:name=".ForgetPasswordActivity" />
            <activity android:name=".ResetPasswordActivity" />

            <!-- HOME -->
            <activity android:name=".HomeActivity" />

            <!-- FEATURES -->
            <activity android:name=".AddMedicineActivity" />
            <activity android:name=".MedicalHistoryActivity" />
            <activity android:name=".MedicineExpiryActivity" />
            <activity android:name=".AppointmentActivity" />
            <activity android:name=".SymptomAnalyzerActivity" />
            <activity android:name=".HospitalLocatorActivity" />

        </application>

    </manifest>
